In [23]:
import numpy as np
import pandas as pd
import os

In [24]:
def getData(directory):
    end_time = 24 * 3600  # 24 hours
    for root, subdirs, files in os.walk(directory):
        for file in files:
            if file == "output_trips.csv.gz":
                df_trips = pd.read_csv(
                    os.path.join(root, file), sep=";", compression="gzip"
                ).loc[
                    :,
                    [
                        "person",
                        "traveled_distance",
                        "euclidean_distance"
                    ],
                ]
                df_trips.set_index("person", inplace=True)
                return df_trips

In [25]:
data = getData("/home/helge/Applications/matsim/matsim-bimodal/scenarios/fine_grid/bimodal/output")
distances = data.groupby("person").sum()
display(distances)
print("Av euclid distance: ", distances["euclidean_distance"].mean())
print("Av trav distance: ", distances["traveled_distance"].mean())

        traveled_distance  euclidean_distance
person
0                    6715                3775
1                    3631                2816
2                    4890                3095
3                   13231                9062
4                    2883                1696
...                   ...                 ...
9995                12090                9024
9996                 3307                2598
9997                 5315                3339
9998                 3948                2788
9999                 3307                2002

[9369 rows x 2 columns]

Av euclid distance:  4163.921016116981
Av trav distance:  5243.1593553207385